.CompanyCard{
    display: block;
    margin: 20px auto;
    width: 600px;
    border-style: solid;
    border-color: black;
    color: black;
    
}

a:link{
    text-decoration: none;
}

.CompanyCardImage{
    width:50px;
}



